* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border: 0;
    height: 2px;
    width: 80px;
    background-color: #007bff;
}


/* header start */
.link-more {
    display: inline-block;
    color: #333;
    border: 1px solid #007bff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.4s;
}

.link-more:hover {
    background-color: #007bff;  
    color: #fff;

}

.main-header {
    height: 60vh;
    background-image:url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-item {
    flex-basis: 25%;
}

.main-header h1 {
    color: #007bff;
    text-transform: uppercase;
    font-size: 70px;
}

.main-header-inner {
    text-align: center;
}

.main-header-inner p span {
    color: #007bff;
}

/* linki nawigacyjne */

.main-links {
    background-color: #007bff;
    position: sticky;
    top: 0;
}

.main-links ul {
    text-transform: uppercase;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-links ul li {
    padding: 10px;
}

.inner-links {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    transition: all 0.4s;
}

.inner-links:hover {
    background-color: white;
    color: black;
    border: white;
}

ul {
    margin: 0;
}

/* sekcja pierwsza */

.section-main    {
    color: black; 
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 20px;
}

h2 {
    text-transform: uppercase;
}

.photo {
    border-radius: 100%;
    
}

.my-portfolio {
    display: inline-block;
    color: black;
    border: 1px solid #007bff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.4s;

}

.my-portfolio:hover {
    
    background-color: #007bff;  
    color:white;
    border: 1px solid black;
    display: inline-block;
}

p {
    left: auto;
    right: auto;
    position: center;
}

/* portfolio */

.portfolio {
    background-color: gray;
    text-align: center;

}

.portfolio-inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 0;
    height: 200px;
    flex-basis: 25%;
    position: relative;
}    


figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}    


figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    background-color: rgba(0, 0, 255, 0.6);
    opacity: 0;
    transition: all 0.4s;
}

figure:hover figcaption {
    opacity: 1;
}

.portfolio h2 {
    color: white;
}